body {
  padding-top: 54px;
  font-family: "PT Sans", sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

section {
  margin-bottom: 40px;
}

.navbar-brand img {
  height: 35px;
}

.bg-dark {
  background-color: #a0372c !important;
}

.btn-primary {
  color: #fff;
  background-color: #a0372c;
  border-color: #a0372c;
}

.card {
  height: 100%;
}

.carousel {
  width: 100%;
}

.carousel-item {
  height: 25vh;
  min-height: 300px;
  /* width: 100%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.carousel-item:nth-child(1) {
  background: url("/images/scene-2.jpg") center center no-repeat scroll;
}
.carousel-item:nth-child(2) {
  background: url("/images/scene-4.jpg") center center no-repeat scroll;
}
.carousel-item:nth-child(3) {
  background: url("/images/scene.jpg") center center no-repeat scroll;
}
.carousel-item:nth-child(4) {
  background: url("/images/waterfall.jpg") center center no-repeat scroll;
}
.carousel-item:nth-child(5) {
  background: url("/images/group.jpg") center center no-repeat scroll;
}

.carousel-control-next,
.carousel-control-prev {
  background: #a0372d;
  opacity: 0.2;
}

.fb-group {
  text-align: right;
}

.event {
  margin-bottom: 10px;
  border: 1px solid #a0372c;
  padding: 10px;
  background-color: #a0372c33;
  border-radius: 10px;
}

.event a {
  color: #a0372c;
}
